.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 0;
  text-transform: uppercase;
}

.hire-us {
  @include title-font;
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 13px;

  @media (max-width: 1024px) {
    display: none;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 95%;
    background-color: #ff9c8e;
  }
}
